<h1>Your Cart</h1>

<div>
<% @line_items.each do |line_item| %>
  <p><%= line_item.product.name %></p>
  <p>Qty: <%= line_item.quantity %></p>
  <p>Line Item Total: <%= line_item.line_item_total %></p>
<% end %>
</div>

<%= link_to 'Proceed to Checkout', checkout_path, class: 'btn btn-success' %>
